// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Sun Aug 31 21:35:48 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/wchan/documents/github/e155lab1/fpga/radiant_project/lab1_wc/source/impl_1/lab1_wc.sv"
// file 1 "c:/users/wchan/documents/github/e155lab1/fpga/radiant_project/lab1_wc/source/impl_1/seg_disp.sv"
// file 2 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 3 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 4 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 5 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 6 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 7 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 22 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 23 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 24 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 25 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 26 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 36 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 37 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 38 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 39 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 40 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 53 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module lab1_wc
//

module lab1_wc (input [3:0]s, input reset, output [2:0]led, output [6:0]seg);
    
    wire s_c_3;
    wire s_c_2;
    wire s_c_1;
    wire s_c_0;
    wire reset_c;
    wire led_c_1;
    wire led_c_0;
    wire seg_c_6;
    wire seg_c_5;
    wire seg_c_4;
    wire seg_c_3;
    wire seg_c_2;
    wire seg_c_1;
    wire seg_c_0;
    (* is_clock=1, lineinfo="@0(12[8],12[15])" *) wire int_osc;
    wire led_c_24;
    
    wire GND_net, VCC_net, n768, n12, n14, n15, n16, n17, n18, 
        n19, n20, n21, n22, n23, n24, n25, n735, n11, n10, 
        n9, n8, n7, n6, n5, n4, n3, n2, n313, n269, n747, 
        n329, n765, n744, n13, n762, n741, n732;
    wire [24:0]n105;
    
    wire n325, n323, n321, n319, n317, n315, n311, n309, n307, 
        n759, n738, n756, n327, n753, n750;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) HSOSC hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b01";
    (* lut_function="(!(A))", lineinfo="@0(8[16],8[21])" *) LUT4 i107_1_lut (.A(reset_c), 
            .Z(n269));
    defparam i107_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=11, LSE_RCOL=30, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@0(34[11],34[30])" *) seg_disp sd (s_c_1, 
            s_c_3, s_c_0, s_c_2, seg_c_0, seg_c_1, seg_c_2, seg_c_3, 
            seg_c_4, seg_c_5, seg_c_6);
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i24 (.D(n105[23]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n2));
    defparam counter_16__i24.REGSET = "RESET";
    defparam counter_16__i24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i23 (.D(n105[22]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n3));
    defparam counter_16__i23.REGSET = "RESET";
    defparam counter_16__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i1 (.D(n105[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n25));
    defparam counter_16__i1.REGSET = "RESET";
    defparam counter_16__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i22 (.D(n105[21]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n4));
    defparam counter_16__i22.REGSET = "RESET";
    defparam counter_16__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i21 (.D(n105[20]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n5));
    defparam counter_16__i21.REGSET = "RESET";
    defparam counter_16__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i20 (.D(n105[19]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n6));
    defparam counter_16__i20.REGSET = "RESET";
    defparam counter_16__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i19 (.D(n105[18]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n7));
    defparam counter_16__i19.REGSET = "RESET";
    defparam counter_16__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i18 (.D(n105[17]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n8));
    defparam counter_16__i18.REGSET = "RESET";
    defparam counter_16__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i17 (.D(n105[16]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n9));
    defparam counter_16__i17.REGSET = "RESET";
    defparam counter_16__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i16 (.D(n105[15]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n10));
    defparam counter_16__i16.REGSET = "RESET";
    defparam counter_16__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i15 (.D(n105[14]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n11));
    defparam counter_16__i15.REGSET = "RESET";
    defparam counter_16__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i14 (.D(n105[13]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n12));
    defparam counter_16__i14.REGSET = "RESET";
    defparam counter_16__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i13 (.D(n105[12]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n13));
    defparam counter_16__i13.REGSET = "RESET";
    defparam counter_16__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i12 (.D(n105[11]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n14));
    defparam counter_16__i12.REGSET = "RESET";
    defparam counter_16__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i11 (.D(n105[10]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n15));
    defparam counter_16__i11.REGSET = "RESET";
    defparam counter_16__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i10 (.D(n105[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n16));
    defparam counter_16__i10.REGSET = "RESET";
    defparam counter_16__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i9 (.D(n105[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n17));
    defparam counter_16__i9.REGSET = "RESET";
    defparam counter_16__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i8 (.D(n105[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n18));
    defparam counter_16__i8.REGSET = "RESET";
    defparam counter_16__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i7 (.D(n105[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n19));
    defparam counter_16__i7.REGSET = "RESET";
    defparam counter_16__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i6 (.D(n105[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n20));
    defparam counter_16__i6.REGSET = "RESET";
    defparam counter_16__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i5 (.D(n105[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n21));
    defparam counter_16__i5.REGSET = "RESET";
    defparam counter_16__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i4 (.D(n105[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n22));
    defparam counter_16__i4.REGSET = "RESET";
    defparam counter_16__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i3 (.D(n105[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n23));
    defparam counter_16__i3.REGSET = "RESET";
    defparam counter_16__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i2 (.D(n105[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(n24));
    defparam counter_16__i2.REGSET = "RESET";
    defparam counter_16__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(26[20],26[31])" *) FD1P3XZ counter_16__i25 (.D(n105[24]), 
            .SP(VCC_net), .CK(int_osc), .SR(n269), .Q(led_c_24));
    defparam counter_16__i25.REGSET = "RESET";
    defparam counter_16__i25.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(26[20],26[31])" *) FA2 counter_16_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(n12), .D0(n319), .CI0(n319), .A1(GND_net), 
            .B1(GND_net), .C1(n11), .D1(n753), .CI1(n753), .CO0(n753), 
            .CO1(n321), .S0(n105[13]), .S1(n105[14]));
    defparam counter_16_add_4_15.INIT0 = "0xc33c";
    defparam counter_16_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@0(26[20],26[31])" *) FA2 counter_16_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(n2), .D0(n329), .CI0(n329), .A1(GND_net), 
            .B1(GND_net), .C1(led_c_24), .D1(n768), .CI1(n768), .CO0(n768), 
            .S0(n105[23]), .S1(n105[24]));
    defparam counter_16_add_4_25.INIT0 = "0xc33c";
    defparam counter_16_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@0(26[20],26[31])" *) FA2 counter_16_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(n4), .D0(n327), .CI0(n327), .A1(GND_net), 
            .B1(GND_net), .C1(n3), .D1(n765), .CI1(n765), .CO0(n765), 
            .CO1(n329), .S0(n105[21]), .S1(n105[22]));
    defparam counter_16_add_4_23.INIT0 = "0xc33c";
    defparam counter_16_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@0(26[20],26[31])" *) FA2 counter_16_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(n6), .D0(n325), .CI0(n325), .A1(GND_net), 
            .B1(GND_net), .C1(n5), .D1(n762), .CI1(n762), .CO0(n762), 
            .CO1(n327), .S0(n105[19]), .S1(n105[20]));
    defparam counter_16_add_4_21.INIT0 = "0xc33c";
    defparam counter_16_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(26[20],26[31])" *) FA2 counter_16_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(n8), .D0(n323), .CI0(n323), .A1(GND_net), 
            .B1(GND_net), .C1(n7), .D1(n759), .CI1(n759), .CO0(n759), 
            .CO1(n325), .S0(n105[17]), .S1(n105[18]));
    defparam counter_16_add_4_19.INIT0 = "0xc33c";
    defparam counter_16_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(26[20],26[31])" *) FA2 counter_16_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(n10), .D0(n321), .CI0(n321), .A1(GND_net), 
            .B1(GND_net), .C1(n9), .D1(n756), .CI1(n756), .CO0(n756), 
            .CO1(n323), .S0(n105[15]), .S1(n105[16]));
    defparam counter_16_add_4_17.INIT0 = "0xc33c";
    defparam counter_16_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@0(26[20],26[31])" *) FA2 counter_16_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(n14), .D0(n317), .CI0(n317), .A1(GND_net), 
            .B1(GND_net), .C1(n13), .D1(n750), .CI1(n750), .CO0(n750), 
            .CO1(n319), .S0(n105[11]), .S1(n105[12]));
    defparam counter_16_add_4_13.INIT0 = "0xc33c";
    defparam counter_16_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@0(26[20],26[31])" *) FA2 counter_16_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(n16), .D0(n315), .CI0(n315), .A1(GND_net), 
            .B1(GND_net), .C1(n15), .D1(n747), .CI1(n747), .CO0(n747), 
            .CO1(n317), .S0(n105[9]), .S1(n105[10]));
    defparam counter_16_add_4_11.INIT0 = "0xc33c";
    defparam counter_16_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(A (B))", lineinfo="@0(37[18],37[29])" *) LUT4 s_c_3_I_0_2_2_lut (.A(s_c_3), 
            .B(s_c_2), .Z(led_c_1));
    defparam s_c_3_I_0_2_2_lut.INIT = "0x8888";
    (* lineinfo="@0(8[16],8[21])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@0(7[22],7[23])" *) IB \s_pad[0]  (.I(s[0]), .O(s_c_0));
    (* lineinfo="@0(7[22],7[23])" *) IB \s_pad[1]  (.I(s[1]), .O(s_c_1));
    (* lineinfo="@0(7[22],7[23])" *) IB \s_pad[2]  (.I(s[2]), .O(s_c_2));
    (* lineinfo="@0(7[22],7[23])" *) IB \s_pad[3]  (.I(s[3]), .O(s_c_3));
    (* lineinfo="@0(10[23],10[26])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@0(10[23],10[26])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@0(10[23],10[26])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@0(10[23],10[26])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@0(10[23],10[26])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@0(10[23],10[26])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@0(10[23],10[26])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* lineinfo="@0(9[23],9[26])" *) OB \led_pad[0]  (.I(led_c_0), .O(led[0]));
    (* lineinfo="@0(9[23],9[26])" *) OB \led_pad[1]  (.I(led_c_1), .O(led[1]));
    (* lineinfo="@0(9[23],9[26])" *) OB \led_pad[2]  (.I(led_c_24), .O(led[2]));
    (* lineinfo="@0(26[20],26[31])" *) FA2 counter_16_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(n18), .D0(n313), .CI0(n313), .A1(GND_net), 
            .B1(GND_net), .C1(n17), .D1(n744), .CI1(n744), .CO0(n744), 
            .CO1(n315), .S0(n105[7]), .S1(n105[8]));
    defparam counter_16_add_4_9.INIT0 = "0xc33c";
    defparam counter_16_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@0(26[20],26[31])" *) FA2 counter_16_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(n20), .D0(n311), .CI0(n311), .A1(GND_net), 
            .B1(GND_net), .C1(n19), .D1(n741), .CI1(n741), .CO0(n741), 
            .CO1(n313), .S0(n105[5]), .S1(n105[6]));
    defparam counter_16_add_4_7.INIT0 = "0xc33c";
    defparam counter_16_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@0(26[20],26[31])" *) FA2 counter_16_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(n22), .D0(n309), .CI0(n309), .A1(GND_net), 
            .B1(GND_net), .C1(n21), .D1(n738), .CI1(n738), .CO0(n738), 
            .CO1(n311), .S0(n105[3]), .S1(n105[4]));
    defparam counter_16_add_4_5.INIT0 = "0xc33c";
    defparam counter_16_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(26[20],26[31])" *) FA2 counter_16_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n24), .D0(n307), .CI0(n307), .A1(GND_net), 
            .B1(GND_net), .C1(n23), .D1(n735), .CI1(n735), .CO0(n735), 
            .CO1(n309), .S0(n105[1]), .S1(n105[2]));
    defparam counter_16_add_4_3.INIT0 = "0xc33c";
    defparam counter_16_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@0(36[18],36[29])" *) LUT4 s_c_1_I_0_2_lut (.A(s_c_1), 
            .B(s_c_0), .Z(led_c_0));
    defparam s_c_1_I_0_2_lut.INIT = "0x6666";
    (* lineinfo="@0(26[20],26[31])" *) FA2 counter_16_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n25), .D1(n732), .CI1(n732), .CO0(n732), .CO1(n307), 
            .S1(n105[0]));
    defparam counter_16_add_4_1.INIT0 = "0xc33c";
    defparam counter_16_add_4_1.INIT1 = "0xc33c";
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module seg_disp
//

module seg_disp (input s_c_1, input s_c_3, input s_c_0, input s_c_2, 
            output seg_c_0, output seg_c_1, output seg_c_2, output seg_c_3, 
            output seg_c_4, output seg_c_5, output seg_c_6);
    
    
    (* lut_function="(A (B+!(C (D)))+!A (B+(D)))", lineinfo="@1(15[3],33[10])" *) LUT4 i131_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_0), .D(s_c_2), .Z(seg_c_0));
    defparam i131_4_lut.INIT = "0xdfee";
    (* lut_function="(A (B+!((D)+!C))+!A !(B (C)+!B !(C+!(D))))", lineinfo="@1(15[3],33[10])" *) LUT4 seg_c_1_I_0_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_2), .D(s_c_0), .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut.INIT = "0x9cbd";
    (* lut_function="(A (B (C+(D)))+!A (B+((D)+!C)))", lineinfo="@1(15[3],33[10])" *) LUT4 seg_c_2_I_0_4_lut (.A(s_c_0), 
            .B(s_c_3), .C(s_c_2), .D(s_c_1), .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0xddc5";
    (* lut_function="(!(A (B (C (D))+!B (C (D)+!C !(D)))+!A !(B ((D)+!C)+!B (C+!(D)))))", lineinfo="@1(15[3],33[10])" *) LUT4 seg_c_3_I_0_4_lut (.A(s_c_0), 
            .B(s_c_3), .C(s_c_1), .D(s_c_2), .Z(seg_c_3));
    defparam seg_c_3_I_0_4_lut.INIT = "0x5ebd";
    (* lut_function="(!(A (B (C)+!B !(C+(D)))+!A !(((D)+!C)+!B)))", lineinfo="@1(15[3],33[10])" *) LUT4 seg_c_4_I_0_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_2), .D(s_c_0), .Z(seg_c_4));
    defparam seg_c_4_I_0_4_lut.INIT = "0x7f3d";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B (C (D)))+!A (B (C+(D)))))", lineinfo="@1(15[3],33[10])" *) LUT4 seg_c_5_I_0_4_lut (.A(s_c_0), 
            .B(s_c_2), .C(s_c_3), .D(s_c_1), .Z(seg_c_5));
    defparam seg_c_5_I_0_4_lut.INIT = "0x1bb7";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C+(D)))+!A (C+!(D)))", lineinfo="@1(15[3],33[10])" *) LUT4 seg_c_6_I_0_4_lut (.A(s_c_0), 
            .B(s_c_3), .C(s_c_1), .D(s_c_2), .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut.INIT = "0xf27d";
    
endmodule
