// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Mon Sep  1 11:40:25 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/wchan/documents/github/e155lab1/fpga/radiant_project/lab1_wc/source/impl_1/lab1_wc.sv"
// file 1 "c:/users/wchan/documents/github/e155lab1/fpga/radiant_project/lab1_wc/source/impl_1/seg_disp.sv"
// file 2 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 3 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 4 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 5 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 6 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 7 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 22 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 23 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 24 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 25 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 26 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 36 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 37 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 38 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 39 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 40 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 53 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module lab1_wc
//

module lab1_wc (input [3:0]s, input reset, output [2:0]led, output [6:0]seg);
    
    wire s_c_3;
    wire s_c_2;
    wire s_c_1;
    wire s_c_0;
    wire reset_c;
    wire led_c_1;
    wire led_c_0;
    wire seg_intm_3__N_17;
    (* is_clock=1, lineinfo="@0(12[8],12[15])" *) wire int_osc;
    wire led_c_10;
    wire [6:0]seg_intm;
    
    wire GND_net, VCC_net, n473, n212, n464, n220, n218, n470, 
        n187, n458, n2, n3, n4, n5, n6, n7, n8, n9, n10, 
        n11, n467;
    wire [10:0]n49;
    
    wire n216, n214, n461;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) HSOSC hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b01";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@0(29[18],29[29])" *) LUT4 s_c_1_I_0_2_lut (.A(s_c_1), 
            .B(s_c_0), .Z(led_c_0));
    defparam s_c_1_I_0_2_lut.INIT = "0x6666";
    (* lineinfo="@0(25[20],25[31])" *) FA2 counter_16_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(n2), .D0(n220), .CI0(n220), .A1(GND_net), 
            .B1(GND_net), .C1(led_c_10), .D1(n473), .CI1(n473), .CO0(n473), 
            .S0(n49[9]), .S1(n49[10]));
    defparam counter_16_add_4_11.INIT0 = "0xc33c";
    defparam counter_16_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@0(25[20],25[31])" *) FA2 counter_16_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(n4), .D0(n218), .CI0(n218), .A1(GND_net), 
            .B1(GND_net), .C1(n3), .D1(n470), .CI1(n470), .CO0(n470), 
            .CO1(n220), .S0(n49[7]), .S1(n49[8]));
    defparam counter_16_add_4_9.INIT0 = "0xc33c";
    defparam counter_16_add_4_9.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(25[20],25[31])" *) FD1P3XZ counter_16__i10 (.D(n49[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(n187), .Q(n2));
    defparam counter_16__i10.REGSET = "RESET";
    defparam counter_16__i10.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(25[20],25[31])" *) FA2 counter_16_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(n6), .D0(n216), .CI0(n216), .A1(GND_net), 
            .B1(GND_net), .C1(n5), .D1(n467), .CI1(n467), .CO0(n467), 
            .CO1(n218), .S0(n49[5]), .S1(n49[6]));
    defparam counter_16_add_4_7.INIT0 = "0xc33c";
    defparam counter_16_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@0(8[16],8[21])" *) LUT4 i95_1_lut (.A(reset_c), 
            .Z(n187));
    defparam i95_1_lut.INIT = "0x5555";
    (* syn_use_carry_chain=1, lineinfo="@0(25[20],25[31])" *) FD1P3XZ counter_16__i9 (.D(n49[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(n187), .Q(n3));
    defparam counter_16__i9.REGSET = "RESET";
    defparam counter_16__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=11, LSE_RCOL=21, LSE_LLINE=35, LSE_RLINE=35, lineinfo="@0(35[11],35[21])" *) seg_disp sd (s_c_1, 
            s_c_3, s_c_0, s_c_2, seg_intm[6], seg_intm[1], seg_intm[5], 
            seg_intm[0], seg_intm[2], seg_intm[4], seg_intm_3__N_17);
    (* syn_use_carry_chain=1, lineinfo="@0(25[20],25[31])" *) FD1P3XZ counter_16__i8 (.D(n49[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(n187), .Q(n4));
    defparam counter_16__i8.REGSET = "RESET";
    defparam counter_16__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(25[20],25[31])" *) FD1P3XZ counter_16__i7 (.D(n49[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(n187), .Q(n5));
    defparam counter_16__i7.REGSET = "RESET";
    defparam counter_16__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(25[20],25[31])" *) FD1P3XZ counter_16__i6 (.D(n49[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(n187), .Q(n6));
    defparam counter_16__i6.REGSET = "RESET";
    defparam counter_16__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(25[20],25[31])" *) FD1P3XZ counter_16__i5 (.D(n49[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(n187), .Q(n7));
    defparam counter_16__i5.REGSET = "RESET";
    defparam counter_16__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(25[20],25[31])" *) FD1P3XZ counter_16__i4 (.D(n49[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(n187), .Q(n8));
    defparam counter_16__i4.REGSET = "RESET";
    defparam counter_16__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(25[20],25[31])" *) FD1P3XZ counter_16__i3 (.D(n49[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(n187), .Q(n9));
    defparam counter_16__i3.REGSET = "RESET";
    defparam counter_16__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(25[20],25[31])" *) FD1P3XZ counter_16__i2 (.D(n49[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(n187), .Q(n10));
    defparam counter_16__i2.REGSET = "RESET";
    defparam counter_16__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(25[20],25[31])" *) FD1P3XZ counter_16__i1 (.D(n49[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(n187), .Q(n11));
    defparam counter_16__i1.REGSET = "RESET";
    defparam counter_16__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(8[16],8[21])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@0(7[22],7[23])" *) IB \s_pad[0]  (.I(s[0]), .O(s_c_0));
    (* lineinfo="@0(7[22],7[23])" *) IB \s_pad[1]  (.I(s[1]), .O(s_c_1));
    (* lineinfo="@0(7[22],7[23])" *) IB \s_pad[2]  (.I(s[2]), .O(s_c_2));
    (* lineinfo="@0(7[22],7[23])" *) IB \s_pad[3]  (.I(s[3]), .O(s_c_3));
    (* lineinfo="@0(10[23],10[26])" *) OB \seg_pad[0]  (.I(seg_intm[0]), .O(seg[0]));
    (* lineinfo="@0(10[23],10[26])" *) OB \seg_pad[1]  (.I(seg_intm[1]), .O(seg[1]));
    (* lineinfo="@0(10[23],10[26])" *) OB \seg_pad[2]  (.I(seg_intm[2]), .O(seg[2]));
    (* lineinfo="@0(10[23],10[26])" *) OB \seg_pad[3]  (.I(seg_intm_3__N_17), 
            .O(seg[3]));
    (* lineinfo="@0(10[23],10[26])" *) OB \seg_pad[4]  (.I(seg_intm[4]), .O(seg[4]));
    (* lineinfo="@0(10[23],10[26])" *) OB \seg_pad[5]  (.I(seg_intm[5]), .O(seg[5]));
    (* lineinfo="@0(10[23],10[26])" *) OB \seg_pad[6]  (.I(seg_intm[6]), .O(seg[6]));
    (* lineinfo="@0(9[23],9[26])" *) OB \led_pad[0]  (.I(led_c_0), .O(led[0]));
    (* lineinfo="@0(9[23],9[26])" *) OB \led_pad[1]  (.I(led_c_1), .O(led[1]));
    (* lineinfo="@0(9[23],9[26])" *) OB \led_pad[2]  (.I(led_c_10), .O(led[2]));
    (* lineinfo="@0(25[20],25[31])" *) FA2 counter_16_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(n8), .D0(n214), .CI0(n214), .A1(GND_net), 
            .B1(GND_net), .C1(n7), .D1(n464), .CI1(n464), .CO0(n464), 
            .CO1(n216), .S0(n49[3]), .S1(n49[4]));
    defparam counter_16_add_4_5.INIT0 = "0xc33c";
    defparam counter_16_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(25[20],25[31])" *) FA2 counter_16_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n10), .D0(n212), .CI0(n212), .A1(GND_net), 
            .B1(GND_net), .C1(n9), .D1(n461), .CI1(n461), .CO0(n461), 
            .CO1(n214), .S0(n49[1]), .S1(n49[2]));
    defparam counter_16_add_4_3.INIT0 = "0xc33c";
    defparam counter_16_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(25[20],25[31])" *) FD1P3XZ counter_16__i11 (.D(n49[10]), 
            .SP(VCC_net), .CK(int_osc), .SR(n187), .Q(led_c_10));
    defparam counter_16__i11.REGSET = "RESET";
    defparam counter_16__i11.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(25[20],25[31])" *) FA2 counter_16_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n11), .D1(n458), .CI1(n458), .CO0(n458), .CO1(n212), 
            .S1(n49[0]));
    defparam counter_16_add_4_1.INIT0 = "0xc33c";
    defparam counter_16_add_4_1.INIT1 = "0xc33c";
    VLO i1 (.Z(GND_net));
    (* lut_function="(A (B))", lineinfo="@0(30[18],30[29])" *) LUT4 s_c_3_I_0_2_lut (.A(s_c_3), 
            .B(s_c_2), .Z(led_c_1));
    defparam s_c_3_I_0_2_lut.INIT = "0x8888";
    
endmodule

//
// Verilog Description of module seg_disp
//

module seg_disp (input s_c_1, input s_c_3, input s_c_0, input s_c_2, 
            output \seg_intm[6] , output \seg_intm[1] , output \seg_intm[5] , 
            output \seg_intm[0] , output \seg_intm[2] , output \seg_intm[4] , 
            output seg_intm_3__N_17);
    
    
    (* lut_function="(!(A (B+!(C (D)))+!A (B+(D))))", lineinfo="@1(33[10],33[19])" *) LUT4 i257_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_0), .D(s_c_2), .Z(\seg_intm[6] ));
    defparam i257_4_lut.INIT = "0x2011";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D)))+!A (B (C+(D))))", lineinfo="@1(14[3],32[10])" *) LUT4 seg_intm_1__I_0_2_4_lut (.A(s_c_0), 
            .B(s_c_2), .C(s_c_3), .D(s_c_1), .Z(\seg_intm[1] ));
    defparam seg_intm_1__I_0_2_4_lut.INIT = "0xe448";
    (* lut_function="(!(A (B ((D)+!C)+!B !((D)+!C))+!A (B ((D)+!C)+!B (C+!(D)))))", lineinfo="@1(14[3],32[10])" *) LUT4 seg_intm_5__I_0_2_4_lut (.A(s_c_0), 
            .B(s_c_3), .C(s_c_2), .D(s_c_1), .Z(\seg_intm[5] ));
    defparam seg_intm_5__I_0_2_4_lut.INIT = "0x23c2";
    (* lut_function="(!(A (B (C)+!B (C+(D)))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@1(14[3],32[10])" *) LUT4 s_c_3_I_0_2_4_lut (.A(s_c_2), 
            .B(s_c_3), .C(s_c_1), .D(s_c_0), .Z(\seg_intm[0] ));
    defparam s_c_3_I_0_2_4_lut.INIT = "0x490a";
    (* lut_function="(A (B (C)+!B !(C+(D)))+!A !(((D)+!C)+!B))", lineinfo="@1(14[3],32[10])" *) LUT4 seg_intm_2__I_0_2_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_2), .D(s_c_0), .Z(\seg_intm[2] ));
    defparam seg_intm_2__I_0_2_4_lut.INIT = "0x80c2";
    (* lut_function="(!(A (B (C+(D)))+!A (B+((D)+!C))))", lineinfo="@1(14[3],32[10])" *) LUT4 seg_intm_4__I_0_2_4_lut (.A(s_c_0), 
            .B(s_c_3), .C(s_c_2), .D(s_c_1), .Z(\seg_intm[4] ));
    defparam seg_intm_4__I_0_2_4_lut.INIT = "0x223a";
    (* lut_function="(A (B (C (D)+!C !(D)))+!A (B (C (D))+!B !(C (D)+!C !(D))))", lineinfo="@1(14[3],32[10])" *) LUT4 i33_4_lut (.A(s_c_3), 
            .B(s_c_1), .C(s_c_2), .D(s_c_0), .Z(seg_intm_3__N_17));
    defparam i33_4_lut.INIT = "0xc118";
    
endmodule
